africastalking==1.2.3
alembic==1.4.2
amqp==2.6.1
attrs==20.3.0
base58==2.1.0
bcrypt==3.2.0
billiard==3.6.3.0
bip-utils==1.4.0
bitarray==1.2.2
blake2b-py==0.1.4
cached-property==1.5.2
celery==4.4.7
certifi==2020.12.5
cffi==1.14.3
chainlib==0.0.1a18
chainsyncer==0.0.1a18
chardet==3.0.4
confini==0.3.6rc3
contextlib2==0.6.0.post1
coverage==5.4
cryptography==3.2.1
cytoolz==0.11.0
ecdsa==0.16.1
ecuth==0.4.5a1
Faker==4.17.1
hexathon==0.0.1a3
hexbytes==0.2.1
http-hoba-auth==0.2.0
idna==2.10
iniconfig==1.1.1
ipfshttpclient==0.6.1
json-rpc==1.13.0
jsonschema==3.2.0
kombu==4.6.11
lru-dict==1.1.7
Mako==1.1.3
MarkupSafe==1.1.1
mirakuru==2.3.0
moolb==0.1.1b2
more-itertools==8.7.0
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
packaging==20.9
parsimonious==0.8.1
phonenumbers==8.12.12
pluggy==0.13.1
port-for==0.4
protobuf==3.15.1
psutil==5.8.0
psycopg2==2.8.6
py==1.9.0
py-ecc==4.1.0
py-eth==0.1.1
pycparser==2.20
pycryptodome==3.10.1
pyethash==0.1.27
pyparsing==2.4.7
pyrsistent==0.17.3
pysha3==1.0.2
pytest==6.0.1
pytest-alembic==0.2.5
pytest-celery==0.0.0a1
pytest-cov==2.10.1
pytest-mock==3.3.1
pytest-redis==2.0.0
python-dateutil==2.8.1
python-editor==1.0.4
python-gnupg==0.4.6
python-i18n==0.3.9
pytz==2021.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
rlp==2.0.1
schema==0.7.4
semantic-version==2.8.5
semver==2.13.0
six==1.15.0
sortedcontainers==2.3.0
SQLAlchemy==1.3.20
sqlparse==0.4.1
text-unidecode==1.3
tinydb==4.2.0
toml==0.10.2
toolz==0.11.1
transitions==0.8.4
trie==2.0.0a5
typing-extensions==3.7.4.3
urllib3==1.25.11
uWSGI==2.0.19.1
varint==1.0.2
vine==1.3.0
vobject==0.9.6.1
web3==5.12.2
websocket-client==0.57.0
websockets==8.1
yaml-acl==0.0.1
