alembic==1.4.2
celery==4.4.7
chainlib-eth~=0.0.5a1
chainqueue~=0.0.2b5
chainsyncer[sql]~=0.0.3a3
cic-base==0.1.3a3+build.984b5cff
cic-eth-registry~=0.5.6a1
coincurve==15.0.0
confini~=0.3.6rc3
crypto-dev-signer~=0.4.14b6
erc20-faucet~=0.2.2a1
erc20-transfer-authorization~=0.3.2a1
eth-address-index~=0.1.2a1
eth_accounts_index~=0.0.12a1
hexathon~=0.0.1a7
moolb~=0.1.1b2
potaahto~=0.0.1a2
pycryptodome==3.10.1
redis==3.5.3
requests~=2.24.0
sarafu-faucet~=0.0.4a1
semver==2.13.0
uWSGI==2.0.19.1
websocket-client==0.57.0
websockets==8.1
